# Include files.
include build.sh
include requirements.txt

# Include documentation
#recursive-include docs/build *

# Include test suite.
#recursive-include tests *
#prune tests/.pylint.d
#prune tests/__pycache__
#prune tests/testlibs/.pylint.d
#prune tests/testlibs/__pycache__

# Directories to exclude.
#recursive-exclude adourlib/reference *

